#wrapper{
  text-align:left;
}

.heading-xlarge {
  margin-top: 0.625em;
  margin-bottom: 0.5em;
}

.heading-medium{
  margin: 0px;
}

.dob-field{
  display: inline-block;
  margin-bottom: 0px;
}

#dob_hint{
  margin-top:0px;
}

#dob-legend{
  margin-bottom:0px;
  font-weight:bold;
}

.form-hint{
  margin-top:0px;
}

.form-field--error{
  border-left: 5px solid #b10e1e;
}

.form-field--error .error-notification{
  font-size:19px;
  color: #b10e1e;
}


.validation-summary{
  border: 5px solid #b10e1e;
  font-weight: bold;
  font-size:19px;
  color: #b10e1e;
}

.validation-summary a, .validation-summary .link-style, .validation-summary .button--link-style{
  color: #b10e1e;
}

.form-control-error {
    border: 4px solid #b10e1e;
}

.link-back {
  text-decoration: underline;
}

.back-arrow{
  background-image: url('../images/icon-arrow-left.png');
  background-repeat: no-repeat;
  background-position:left center;
  padding-left: 10px;
  display: block;
}

.large-underlined-link {
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
}

