#wrapper{
  text-align:left;
}

.heading-xlarge {
  margin-top: 0.625em;
  margin-bottom: 0.5em;
}

.heading-medium{
  margin: 0px;
}

.dob-field{
  display: inline-block;
  margin-bottom: 0px;
}

#dob_hint{
  margin-top:0px;
}

#dob-legend{
  margin-bottom:0px;
}

.form-hint{
  margin-top:0px;
}